.cases {
	margin-top: 5.625rem;
	padding-top: 6.25rem;
}

.cases .title {
	position: relative;
	text-align: right;
	padding-right: 1.875rem;
	transition: all 0.3s ease-in-out;
}

.cases .title:hover {
	line-height: 3.75rem;
	padding-bottom: 1.875rem;
}

.cases .title:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0.625rem;
	height: 100%;
	background-color: var(--clr-primary-1);
	transition: all 0.3s ease-in-out;
}

.cases .title:hover:before {
	height: 50%;
}

.cases .boxes {
	position: relative;
	display: flex;
	height: 25.625rem;
	gap: 1.875rem;
	margin-top: 1.875rem;
}

.cases .text-box,
.cases .buttons,
.cases .image-box {
	width: 35.625rem;
}

.caseText {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cases .buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	margin-top: 1.875rem;
}

.cases-box {
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--clr-primary-2);
}

.cases-box .image-text {
	height: 100%;
	text-align: center;
	padding: 11.1875rem 0 11.9375rem;
}

.caseText .count,
.caseText .subtitle {
	width: max-content;
	margin-bottom: 1.25rem;
}

.cases .count {
	position: relative;
	text-align: left;
	padding-left: 1.25rem;
}

.cases .count:before {
	content: "";
	position: absolute;
	left: 0;
	width: 0.625rem;
	height: 100%;
	background-color: var(--clr-primary-1);
}

.cases .text {
	width: 31.25rem;
	line-height: 1.5625rem;
	margin-bottom: 0.625rem;
}

@media (max-width: 1366px) {
	.cases {
		margin-top: 4.375rem;
	}

	.cases .boxes {
		height: 23.4375rem;
	}

	.cases .text-box,
	.cases .buttons,
	.cases .image-box {
		width: 32.8125rem;
	}

	.cases-box .image-text {
		padding: 10.25rem 0 10.6875rem;
	}

	.caseText .count,
	.caseText .subtitle {
		margin-bottom: 1rem;
	}
}

@media (max-width: 1220px) {
	.cases {
		margin-top: 3.75rem;
	}

	.cases .boxes {
		height: 22.1875rem;
	}

	.cases .text-box,
	.cases .buttons,
	.cases .image-box {
		width: 28.125rem;
	}

	.caseText .count,
	.caseText .subtitle {
		width: max-content;
		margin-bottom: 0.75rem;
	}

	.cases .text {
		width: 26.25rem;
	}

	.cases-box .image-text {
		padding: 9.625rem 0 10.0625rem;
	}
}

@media (max-width: 992px) {
	.cases .title:hover {
		line-height: 3.75rem;
		padding-bottom: 0.625rem;
	}

	.cases .boxes {
		flex-direction: column;
		height: max-content;
		gap: 0;
	}

	.cases .text-box,
	.cases .buttons,
	.cases .image-box {
		width: 100%;
	}

	.caseText,
	.cases-box {
		position: initial;
	}

	.cases h4 {
		line-height: 2.5rem;
		font-size: 32px;
	}

	.cases .text {
		width: 80%;
	}

	.cases .buttons {
		margin: -1.25rem 0 1.25rem;
	}
}

@media (max-width: 768px) {
	.cases {
		margin-top: 6.25rem;
		padding-top: 0;
	}

	.cases .title {
		line-height: 4.375rem;
		margin: 0;
	}

	.cases .boxes {
		flex-direction: column-reverse;
		margin-top: 1.25rem;
	}
	
	.cases .image-box { 
		height: 20rem;
	}

	.cases .image-text {
		line-height: 1.875rem;
		font-size: 30px;
		padding: 9.0625rem 0;
	}

	.cases .text-box {
		position: relative;
		height: max-content;
	}

	.cases .count {
		line-height: 3.125rem;
		font-size: 45px;
		margin: 1.25rem 0 1.25rem;
	}

	.cases .subtitle {
		font-size: 32px;
		margin-bottom: 1.25rem;
	}

	.cases .text {
		width: 100%;
		line-height: 1.40625rem;
		margin-bottom: 1.25rem;
	}

	.cases .buttons {
		top: 0;
		margin: 1.25rem 0 0;
	}
}

@media (max-width: 650px) {
	.cases .title {
		line-height: 3.75rem;
	}

	.cases .title:hover {
		line-height: 2.5rem;
		padding-bottom: 1.25rem;
	}

	.cases .image-box { 
		height: 17.5rem;
	}

	.cases .image-text {
		font-size: 24px;
		padding: 7.8125rem 0;
	}

	.cases .count {
		line-height: 2.8125rem;
		font-size: 42px;
	}

	.cases .subtitle {
		line-height: 1.875rem;
		font-size: 24px;
	}
}

@media (max-width: 480px) {
	.cases .title {
		line-height: 2.5rem;
		padding-right: 0.625rem;
	}

	.cases .title:hover {
		line-height: 1.875rem;
		padding-bottom: 0.625rem;
	}

	.cases .title:before {
		width: 0.3125rem;
	}

	.cases .image-box {
		height: 15rem;
	}

	.cases .image-text {
		line-height: 1.25rem;
		font-size: 20px;
		padding: 6.875rem 0;
	}

	.cases .count {
		line-height: 2.5rem;
		font-size: 40px;
	}

	.cases .subtitle {
		line-height: 1.25rem;
		font-size: 20px;
	}
}