.cases {
	margin-top: 5.625rem;
	padding-top: 6.25rem;
}

.cases .title {
	position: relative;
	text-align: right;
	padding-right: 1.875rem;
	transition: all 0.3s ease-in-out;
}

.cases .title:hover {
	line-height: 3.75rem;
	padding-bottom: 1.875rem;
}

.cases .title:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0.625rem;
	height: 100%;
	background-color: var(--clr-primary-1);
	transition: all 0.3s ease-in-out;
}

.cases .title:hover:before {
	height: 50%;
}

.cases .boxes {
	position: relative;
	display: flex;
	height: 25.625rem;
	gap: 1.875rem;
	margin-top: 1.875rem;
}

.cases .text-box,
.cases .buttons,
.cases .image-box {
	width: 35.625rem;
}

.caseText {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cases .buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.cases-box {
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--clr-primary-2);
}

.cases-box .image-text {
	height: 100%;
	text-align: center;
	padding: 11.1875rem 0 11.9375rem;
}

.caseText .count,
.caseText .subtitle {
	width: max-content;
	margin-bottom: 1.25rem;
}

.cases .count {
	position: relative;
	text-align: left;
	padding-left: 1.25rem;
}

.cases .count:before {
	content: "";
	position: absolute;
	left: 0;
	width: 0.625rem;
	height: 100%;
	background-color: var(--clr-primary-1);
}

.cases .text {
	width: 31.25rem;
	line-height: 1.5625rem;
	margin-bottom: 0.625rem;
}

.cases .buttons {
	margin-top: 1.875rem;
}

@media (max-width: 1366px) {
	.cases {
		margin-top: 4.375rem;
	}

	.cases .boxes {
		height: 23.4375rem;
	}

	.cases .text-box,
	.cases .buttons,
	.cases .image-box {
		width: 32.8125rem;
	}

	.cases-box .image-text {
		padding: 10.25rem 0 10.6875rem;
	}

	.caseText .count,
	.caseText .subtitle {
		margin-bottom: 1rem;
	}
}

@media (max-width: 1220px) {
	.cases {
		margin-top: 3.75rem;
	}

	.cases .boxes {
		height: 22.1875rem;
	}

	.cases .text-box,
	.cases .buttons,
	.cases .image-box {
		width: 28.125rem;
	}

	.caseText .count,
	.caseText .subtitle {
		width: max-content;
		margin-bottom: 0.75rem;
	}

	.cases .text {
		width: 26.25rem;
	}

	.cases-box .image-text {
		padding: 9.625rem 0 10.0625rem;
	}
}