.contacts {
	margin: 11.8125rem 0 11.25rem;
}

.contact-box {
	width: 41.875rem;
}

.contacts .title {
	position: relative;
	padding-left: 1.875rem;
	margin-bottom: 2.5rem;
	transition: all 0.3s ease-in-out;
}

.contacts .title:hover {
	line-height: 3.75rem;
	padding-bottom: 1.875rem;
}

.contacts .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0.625rem;
	height: 100%;
	background-color: var(--clr-primary-1);
	transition: all 0.3s ease-in-out;
}

.contacts .title:hover:before {
	height: 50%;
}

.contact-box .text {
	line-height: 2.5rem;
	font-size: 26px;
	margin-top: 0.625rem;
}

.contacts span {
	font-weight: 600;
	color: var(--clr-primary-1);
}

.social-box {
	width: 29.375rem;
}

.contacts .subtitle {
	text-align: right;
	line-height: 3.125rem;
	color: var(--clr-primary-1);
	margin: 2.5rem 0.625rem 0 0;
}

.social-box .text {
	text-align: right;
	font-size: 22px;
	margin-top: 1.875rem;
}

.social-icons {
	display: flex;
	justify-content: end;
	height: 2.5rem;
	margin-top: 1.875rem;
}

.social-icons img {
	margin-left: 1.25rem;
	transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
	transform: scale(1.1);
}

@media (max-width: 1366px) {
	.contacts {
		margin-top: 10.5625rem;
	}

	.contact-box .text {
		font-size: 24px;
	}

	.social-box {
		width: 29.375rem;
	}

	.social-box .text {
		font-size: 20px;
	}
}

@media (max-width: 1220px) {
	.contacts {
		margin: 9.9375rem 0 10rem;
	}

	.contact-box .text {
		line-height: 2.1875rem;
		font-size: 21px;
	}

	.social-box .text {
		font-size: 18px;
	}
}

@media (max-width: 992px) {
	.contact-box .text {
		line-height: 1.875rem;
		font-size: 19px;
	}

	.social-box .text {
		font-size: 17px;
	}
}

@media (max-width: 768px) {
	.contacts {
		margin: 0 0 3.125rem;
	}
	
	.contacts .boxes {
		flex-direction: column;
	}

	.contact-box,
	.social-box {
		width: 100%;
	}

	.contacts .title {
		text-align: right;
		line-height: 4.375rem;
		padding: 0 1.875rem 0 0;
		margin: -5rem 0 1.875rem;
	}
	
	.contacts .title:before {
		right: 0;
		left: auto;
	}

	.needevent .title:hover {
		line-height: 3.125rem;
		padding-bottom: 1.25rem;
	}	

	.contact-box .text {
		font-size: 20px;
	}
	
	.social-box .subtitle {
		line-height: 2.5rem;
		font-size: 36px;
		margin-right: 0;
	}

	.social-box .text {
		line-height: 1.25rem;
		font-size: 15px;
		margin-top: 1.25rem;
	}
}

@media (max-width: 650px) {
	.contacts .title {
		line-height: 3.75rem;
	}
	
	.contacts .title:hover {
		line-height: 2.5rem;
	}

	.social-box .subtitle {
		font-size: 30px;
		margin-top: 1.875rem;
	}

	.social-box .text {
		margin-top: 0.625rem;
	}
	
	.social-icons {
		margin-top: 1.25rem;
	}
}

@media (max-width: 480px) {
	.contacts .title {
		line-height: 2.5rem;
		padding-right: 0.625rem;
	}

	.contacts .title:hover {
		line-height: 1.875rem;
		padding-bottom: 0.625rem;
	}

	.contacts .title:before {
		width: 0.3125rem;
	}
}