.home {
	margin-top: 6.875rem;
	padding-top: 7.5rem;
	z-index: 1;
}

.toggle {
	display: none;
}

.home .subtitle {
	line-height: 3.125rem;
	letter-spacing: 0.2em;
	margin: 0 0 1.25rem -0.125rem;
}

.home .boxes {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 23.125rem;
	margin-top: 3.125rem;
}

.home .text-box,
.home .buttons,
.home .image-box {
	width: 35.625rem;
}

.home .text-box {
	position: relative;
}

.texts {
	width: 100%;
	margin-top: 0.625rem;
}

.texts .text-1 {
	position: relative;
	font-size: 22px;
	margin-bottom: 10.625rem;
	padding-left: 1.875rem;
	cursor: pointer;
	transition: padding 0.1s ease-in-out;
}

.texts .text-1:hover {
	padding-left: 3.125rem;
}

.texts .text-2 {
	position: relative;
	display: flex;
	align-items: center;
	text-align: right;
	height: 3.75rem;
	font-size: 18px;
	margin-bottom: 1.875rem;
	padding-right: 1.875rem;
	cursor: pointer;
	transition: padding 0.1s ease-in-out;
}

.texts .text-2:hover {
	padding-right: 3.125rem;
}

.texts .text-1:before,
.texts .text-2:before {
	content: "";
	position: absolute;
	width: 0.625rem;
	height: 100%;
	background-color: var(--clr-primary-1);
}

.texts .text-1:before {
	left: 0;
}

.texts .text-2:before {
	right: 0;
}

.home-box {
	opacity: 0;
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--clr-primary-2);
}

.home-box .image-text {
	height: 100%;
	text-align: center;
	padding: 10.3125rem 0;
}

.home .button {
	display: none;
}

@media (max-width: 1366px) {
	.home {
		margin-top: 5.625rem;
	}

	.home .boxes {
		height: 21.25rem;
	}

	.home .text-box,
	.home .buttons,
	.home .image-box {
		width: 32.8125rem;
	}

	.texts .text-1 {
		font-size: 21px;
		margin-bottom: 9.0625rem;
	}
	
	.texts .text-2 {
		font-size: 17px;
		margin-bottom: 1.5625rem;
	}

	.home-box .image-text {
		padding: 9.375rem 0;
	}
}

@media (max-width: 1220px) {
	.home {
		margin-top: 5rem;
	}

	.home .subtitle {
		line-height: 2.5rem;
	}

	.home .boxes {
		height: 18.125rem;
	}

	.home .text-box,
	.home .buttons,
	.home .image-box {
		width: 28.125rem;
	}

	.texts {
		width: 100%;
		margin-top: 0.3125rem;
	}

	.texts .text-1 {
		font-size: 19px;
		margin-bottom: 6.875rem;
	}
	
	.texts .text-2 {
		font-size: 15px;
		margin-bottom: 1.4375rem;
	}

	.home-box .image-text {
		padding: 7.9375rem 0;
	}
}

@media (max-width: 992px) {
	.home .subtitle {
		line-height: 1.875rem;
		margin-left: 0;
	}

	.home .text-box,
	.home .buttons,
	.home .image-box {
		width: 42.1875vw;
	}

	.home .boxes {
		height: 16.25rem;
		margin-top: 2.5rem;
	}

	.texts {
		margin: 0;
	}

	.texts .text-1,
	.texts .text-2 {
		line-height: 1.4375rem;
	}

	.texts .text-1 {
		font-size: 17px;
		margin-bottom: 4.6875rem;
	}
	
	.texts .text-2 {
		line-height: 1.5rem;
		font-size: 14px;
		margin-bottom: 1.6875rem;
	}

	.home-box .image-text {
		padding: 7.1875rem 0;
	}
}

@media (max-width: 768px) {
	.home {
		margin: 9.375rem 0 12.5rem;
		padding-top: 0;
	}
	
	.toggle {
		display: block;
		position: absolute;
		top: 0;
		margin-top: 1.875rem;
	}

	.home .boxes {
		height: max-content;
		margin-top: 1.875rem;
	}

	.home .text-box {
		width: 100%;
	}

	.texts .text-1,
	.texts .text-2 {
		width: 60%;
		line-height: 1.5625rem;
		font-size: 18px;
	}

	.texts .text-1 {
		margin-bottom: 6.25rem;
	}

	.texts .text-2 {
		margin: 0 0 2.5rem auto;
	}

	.home .buttons,
	.home .image-box {
		display: none;
	}
}

@media (max-width: 650px) {
	.texts .text-1,
	.texts .text-2 {
		width: 80%;
	}
}

@media (max-width: 480px) {
	.home .subtitle {
		margin-bottom: 1.875rem;
	}

	.texts .text-1,
	.texts .text-2 {
		width: 100%;
	}

	.texts .text-1 {
		margin-bottom: 1.25rem;
		padding-left: 0.625rem;
	}

	.texts .text-2 {
		margin-bottom: 1.875rem;
		padding-right: 0.625rem;
	}

	.texts .text-1:before,
	.texts .text-2:before {
		width: 0.3125rem;
	}
}