.main1 {
	position: relative;
	background-image: url(/assets/main1.png);
	background-size: cover;
	z-index: 9;
}

.main1 .frame {
  position: absolute;
  width: 100vw;
  height: 8.125rem;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.header {
	position: fixed;
	display: flex;
	justify-content: center;
	gap: 25.925625rem;
	width: 100vw;
	padding: 1.875rem 0;
	z-index: 10;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-item {
	margin-right: 3.75rem;
}

.nav-link {
	line-height: 1.875rem;
	font-size: 20px;
	transition: color 0.1s ease-in-out;
}

.nav-link:hover {
	color: var(--clr-primary-1);
}

@media (max-width: 1366px) {
	.header {
		gap: 20.300625rem;
	}
}

@media (max-width: 1220px) {
	.header {
		gap: 14.8325rem;
	}

	.nav-item {
		margin-right: 3.125rem;
	}

	.nav-link {
		font-size: 18px;
	}
}

@media (max-width: 992px) {
	.header {
		gap: 4.8325rem;
	}
}