.main1 {
	position: relative;
	background-image: url(/assets/main1.png);
	background-size: cover;
	z-index: 9;
}

.main1 .frame {
  position: absolute;
  width: 100vw;
  height: 8.125rem;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.header {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100vw;
	padding: 1.875rem 0;
	z-index: 10;
}

.navbar {
	display: flex;
	justify-content: space-between;
	width: 73.125rem;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-item {
	margin-right: 3.75rem;
}

.nav-link {
	line-height: 1.875rem;
	font-size: 20px;
	transition: color 0.1s ease-in-out;
}

.nav-link:hover {
	color: var(--clr-primary-1);
}

@media (max-width: 1366px) {
	.navbar {
		width: 67.5rem;
	}
}

@media (max-width: 1220px) {
	.navbar {
		width: 57.5rem;
	}

	.nav-item {
		margin-right: 3.125rem;
	}

	.nav-link {
		font-size: 18px;
	}
}

@media (max-width: 992px) {
	.navbar {
		width: 88.28125vw;
	}

	.nav-item {
		margin-right: 2.5rem;
	}
}

@media (max-width: 768px) {
	.header {
		display: none;
		width: 51.389vw;
		max-width: 20rem;
		background-color: var(--clr-primary-1);
		padding: 4.375rem 0 16.875rem;
	}

	.nav-menu {
		flex-direction: column;
		align-items: start;
		gap: 0.625rem;
		margin-left: 5.556vw;
	}

	.nav-item {
		margin: 0;
	}

	.nav-link {
		line-height: 1.875rem;
		font-size: 20px;
	}

	.navbar .button {
		display: none;
	}
}