.needevent {
	display: flex;
	justify-content: space-between;
	margin: 11.875rem 0 5.6875rem;
}

.form-box {
	width: 41.875rem;
}

.needevent .title {
	position: relative;
	text-align: left;
	margin-bottom: 2.5rem;
	padding-left: 1.875rem;
}

.needevent .title:before {
	content: "";
	position: absolute;
	left: 0;
	width: 0.625rem;
	height: 100%;
	background-color: var(--clr-primary-1);
}

input {
	width: 39.375rem;
	height: 3.125rem;
	font-size: 24px;
	color: var(--clr-white);
	background: transparent;
	border: none;
	border-bottom: 0.1875rem solid var(--clr-primary-1);
	margin-top: 2.5rem;
}

input::placeholder {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 24px;
	color: var(--clr-white);
}

.confirm-box {
	width: 29.375rem;
}

.needevent .text-1 {
	line-height: 3.125rem;
	font-size: 40px;
}

.needevent img {
	position: absolute;
	margin: -1.875rem 0 0 17.5rem;
}

.needevent select {
	width: 100%;
	height: 3.75rem;
	font-size: 20px;
	font-weight: 600;
	border-radius: 6.25rem;
	margin: 4.375rem 0;
	/* Reset. */
	border: unset;

	/* Style */
	width: 100%;
	max-width: 400px;
	padding: 0.75rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
 
	/* Arrow */
	appearance: none;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat;
	background-position: right 1.875rem top 50%;
	background-size: 0.65rem auto;
	padding: 1.0625rem 1.875rem 0.8125rem 1.25rem;
}

.needevent option {
	font-size: 20px;
	font-weight: 600;
}

.needevent .text-2 {
	text-align: center;
	line-height: 1.25rem;
	font-size: 14px;
	margin-bottom: 1.25rem;
}

.needevent .button {
	width: 100%;
}