@keyframes spin {
	from {
		 transform:rotate(0deg);
	} to {
		 transform:rotate(360deg);
	}
}

.needevent {
	margin: 5.625rem 0 5.6875rem;
	padding-top: 6.25rem;
}

#form {
	display: flex;
	justify-content: space-between;
}

.form-box {
	width: 41.875rem;
}

.needevent .title {
	position: relative;
	text-align: left;
	width: max-content;
	margin-bottom: 2.5rem;
	padding-left: 1.875rem;
	transition: all 0.3s ease-in-out;
}

.needevent .title:hover {
	line-height: 3.75rem;
	padding-bottom: 1.875rem;
}

.needevent .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0.625rem;
	height: 100%;
	background-color: var(--clr-primary-1);
	transition: all 0.3s ease-in-out;
}

.needevent .title:hover:before {
	height: 50%;
}

.first {
	display: none;
}

input {
	width: 37.5rem;
	height: 3.125rem;
	font-size: 24px;
	color: var(--clr-white);
	background: transparent;
	border: none;
	border-bottom: 0.1875rem solid var(--clr-primary-1);
	margin: 2.5rem 0 0 1.875rem;
}

input::placeholder {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 24px;
	color: var(--clr-white);
}

.confirm-box {
	width: 29.375rem;
}

.text1-box .text-1 {
	line-height: 3.125rem;
	font-size: 40px;
}

.text1-box img {
	position: absolute;
	margin: -1.875rem 0 0 17.5rem;
	transition: margin 0.3s ease-in-out;
}

.text1-box:hover img {
	margin-left: 18.75rem;
}

.needevent select {
	width: 100%;
	height: 3.75rem;
	font-size: 20px;
	font-weight: 600;
	border-radius: 6.25rem;
	margin: 4.375rem 0;
	/* Reset. */
	border: unset;

	/* Style */
	width: 100%;
	max-width: 400px;
	padding: 0.75rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
 
	/* Arrow */
	appearance: none;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat;
	background-position: right 1.875rem top 50%;
	background-size: 0.65rem auto;
	padding: 1.0625rem 1.875rem 0.8125rem 1.25rem;
}

.needevent option {
	font-size: 20px;
	font-weight: 600;
}

.needevent .text-2 {
	text-align: center;
	line-height: 1.25rem;
	font-size: 14px;
	margin-bottom: 1.25rem;
}

.needevent .button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
	width: 100%;
}

.needevent .button img {
	display: none;
	width: 3.125rem;
	height: 3.125rem;
}

.button-text {
	width: 100%;
	text-align: center;
	line-height: 1.875rem;
	font-size: 20px;
}

@media (max-width: 1366px) {
	.needevent {
		margin-top: 4.375rem;
	}

	.form-box {
		width: 38.4375rem;
	}

	input,
	input::placeholder {
		font-size: 22px;
	}

	input {
		width: 34.375rem;
	}

	.confirm-box {
		width: 27.1825rem;
	}

	.text1-box .text-1 {
		font-size: 36px;
	}

	.needevent select,
	.needevent option {
		font-size: 18px;
	}
}

@media (max-width: 1220px) {
	.needevent {
		margin-top: 3.75rem;
	}

	.form-box {
		width: 33.125rem;
	}

	input,
	input::placeholder {
		font-size: 20px;
	}
	
	input {
		width: 28.155rem;
		margin-top: 2.1875rem;
	}

	.confirm-box {
		width: 23.125rem;
	}

	.text1-box .text-1 {
		line-height: 2.8125rem;
		font-size: 32px;
	}

	.text1-box img {
		width: 6.25rem;
		margin: -1.5625rem 0 0 15rem;
	}
	
	.text1-box:hover img {
		margin-left: 16.25rem;
	}

	.needevent select,
	.needevent option {
		font-size: 17px;
	}

	.needevent select {
		height: 3.4375rem;
		margin: 4.0625rem 0;
		padding: 1rem 1.875rem 0.75rem 1.25rem;
	}

	.button-text {
		font-size: 18px;
	}
}

@media (max-width: 1220px) {
	.text1-box .text-1 {
		line-height: 2.8125rem;
		font-size: 32px;
	}

	.text1-box img {
		width: 5rem;
		margin: -1.5625rem 0 0 10rem;
	}
}

@media (max-width: 992px) {
	.needevent .title {
		padding-left: 1.25rem;
	}

	.needevent .title:hover {
		line-height: 3.75rem;
		padding-bottom: 0.625rem;
	}

	.form-box {
		width: 50.781vw;
	}

	input {
		width: 40vw;
		margin: 1.875rem 0 0 1.25rem;
	}

	input,
	input::placeholder {
		font-size: 18px;
	}

	.confirm-box {
		width: 35.156vw;
	}

	.text1-box .text-1 {
		line-height: 2.1875rem;
		font-size: 24px;
		margin-top: 1.875rem;
	}

	.text1-box img {
		width: 3.75rem;
		margin: -1.25rem 0 0 11.25rem;
	}
	
	.text1-box:hover img {
		margin-left: 12.5rem;
	}

	.needevent select,
	.needevent option {
		font-size: 14px;
	}

	.needevent select {
		height: 3.125rem;
		margin: 3.125rem 0 2.5rem;
		padding: 0.75rem 1.875rem 0.5rem 1.25rem;
	}
}

@media (max-width: 768px) {
	.needevent {
		margin: 4.375rem 0 8.75rem;
		padding: 0;
	}

	#form {
		flex-direction: column;
	}

	.form-box,
	input,
	.confirm-box {
		width: 100%;
	}

	.needevent .title {
		line-height: 4.375rem;
		margin: 0;
	}

	.needevent .title:hover {
		line-height: 3.125rem;
		padding-bottom: 1.25rem;
	}	

	.first {
		display: block;
	}

	.text1-box {
		width: 17.5rem;
		margin-left: auto;
	}
	
	.text1-box .text-1 {
		text-align: right;
		line-height: 1.875rem;
		font-size: 20px;
		margin: 1.25rem 0 0 auto;
	}

	.text1-box img {
		width: max-content;
		margin: -1.25rem 0 0 2.5rem;
		transform: rotate(180deg);
	}
	
	.text1-box:hover img {
		margin-left: 1.25rem;
	}

	.second {
		display: none;
	}

	input {
		height: 2.5rem;
		margin-left: 0;
	}
	
	input,
	input::placeholder {
		font-size: 20px;
	}

	.needevent select {
		width: 100%;
		margin: 1.875rem auto;
	}

	.needevent select,
	.needevent option {
		font-size: 18px;
	}

	.confirm {
		display: flex;
		flex-direction: column-reverse;
	}

	.confirm .text-2 {
		font-size: 12px;
		margin: 1.25rem 0 0;
	}
}

@media (max-width: 650px) {
	.needevent .title {
		line-height: 3.75rem;
	}
	
	.needevent .title:hover {
		line-height: 2.5rem;
	}
}

@media (max-width: 480px) {
	.needevent .title {
		line-height: 2.5rem;
		padding-left: 0.625rem;
	}

	.needevent .title:hover {
		line-height: 1.875rem;
		padding-bottom: 0.625rem;
	}

	.needevent .title:before {
		width: 0.3125rem;
	}
}