.whywe {
	margin-top: 10.625rem;
}

.boxes {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.whywe .title {
	position: sticky;
	width: 35.625rem;
	height: 18.125rem;
	top: 5rem;
	line-height: 8.125rem;
	padding-bottom: 1.875rem;
}
	
.whywe .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 6.25rem);
	height: 0.1875rem;
	background-color: var(--clr-primary-1);
}

.whywe .features {
	width: 31.25rem;
	margin-top: -0.625rem;
}

.whywe .feature-box {
	text-align: right;
	margin-top: 2.5rem;
	transition: transform 0.4s ease-in-out;
}

.whywe .feature-box:hover {
	transform: scale(1.15);
}

.whywe .feature-header {
	display: flex;
	justify-content: end;
	align-items: center;
}

.whywe .count {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	border: 3px solid var(--clr-primary-1);
	border-radius: 50%;
	margin-left: 1.25rem;
}

.whywe .subtitle {
	line-height: 3.125rem;
}

.whywe .text {
	line-height: 1.5625rem;
	margin-top: 1.25rem;
}

.whywe .buttons {
	display: none;
}

@media (max-width: 1366px) {
	.whywe {
		margin-top: 9.375rem;
	}

	.whywe .title {
		width: 34.375rem;
		height: 16.875rem;
		line-height: 7.5rem;
		line-height: 7.5rem;
	}
}

@media (max-width: 1220px) {
	.whywe {
		margin-top: 8.75rem;
	}

	.whywe .title {
		width: 34.375rem;
		height: 14.375rem;
		line-height: 6.25rem;
	}

	.whywe .count {
		width: 4.375rem;
		height: 4.375rem;
	}
}

@media (max-width: 992px) {
	.whywe .title {
		width: 36.458vw;
		height: 10.625rem;
		line-height: 4.375rem;
		font-size: 52px;
		padding-bottom: 1.25rem;
	}

	.whywe .features {
		width: 46.875vw;
	}
	
	.whywe .feature-box {
		margin-top: 1.875rem;
	}

	.whywe .count {
		width: 3.75rem;
		height: 3.75rem;
	}

	.whywe .text {
		margin-top: 0.9375rem;
	}
}

@media (max-width: 768px) {
	.whywe {
		margin-top: 5.9375rem;
	}

	.whywe .boxes {
		position: initial;
		flex-direction: column;
	}

	.whywe .title {
		position: initial;
		width: 100%;
		height: max-content;
		line-height: 4.375rem;
		text-align: right;
		font-size: 50px;
		padding: 0 1.875rem 0 0;
	}
		
	.whywe .title:before {
		display: none;
	}

	.whywe .title:after {
		content: "";
		position: absolute;
		width: 0.625rem;
		height: 4.375rem;
		background-color: var(--clr-primary-1);
		margin-left: 1.25rem;
	}

	.whywe .features {
		display: flex;
		width: 100%;
	}
	
	.whywe .feature-box {
		position: absolute;
		width: 60%;
		margin-top: 1.25rem;
		opacity: 0;
	}

	.whywe .feature-box#box1 {
		opacity: 1;
	}
	
	.whywe .feature-header {
		flex-direction: row-reverse;
		justify-content: start;
	}
	
	.whywe .count {
		font-size: 32px;
		margin: 0 0.625rem 0 0;
	}

	.whywe .subtitle {
		font-size: 28px;
	}

	.whywe .text {
		text-align: left;
		line-height: 1.354167rem;
		margin-top: 0.625rem;
	}

	.whywe .buttons {
		display: flex;
		margin-top: calc(5.625rem + 4 * 1.354167rem);
	}
}

@media (max-width: 661px) {
	.whywe .buttons {
		margin-top: calc(5.625rem + 5 * 1.354167rem);
	}
}

@media (max-width: 650px) {
	.whywe .title {
		line-height: 3.75rem;
		font-size: 40px;
	}

	.whywe .title:after {
		height: 3.75rem;
	}

	.whywe .feature-box {
		width: 70%;
	}
}

@media (max-width: 566px) {
	.whywe .buttons {
		margin-top: calc(6.25rem + 5 * 1.354167rem);
	}
}

@media (max-width: 480px) {
	.whywe .title {
		line-height: 2.5rem;
		font-size: 30px;
		padding: 0 0.625rem 0 0;
	}

	.whywe .title:after {
		width: 0.3125rem;
		height: 2.5rem;
		margin-left: 0.3125rem;
	}

	.whywe .feature-box {
		width: 88.889%;
	}

	.whywe .count {
		font-size: 28px;
	}

	.whywe .subtitle {
		font-size: 24px;
	}

	.whywe .buttons {
		margin-top: calc(6.875rem + 4 * 1.354167rem);
	}
}

@media (max-width: 446px) {
	.whywe .buttons {
		margin-top: calc(6.875rem + 5 * 1.354167rem);
	}
}

@media (max-width: 368px) {
	.whywe .buttons {
		margin-top: calc(6.875rem + 6 * 1.354167rem);
	}
}